absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.1
altair==5.3.0
amqp==5.2.0
ansi2html==1.9.1
anyio==4.3.0
apache-airflow==2.9.0
apache-airflow-providers-celery==3.6.1
apache-airflow-providers-common-io==1.3.0
apache-airflow-providers-common-sql==1.11.1
apache-airflow-providers-fab==1.0.2
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-http==4.10.0
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-smtp==1.6.1
apache-airflow-providers-sqlite==3.7.1
apispec==6.6.0
argcomplete==3.2.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Automat==22.10.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.2
billiard==4.2.0
bleach==6.1.0
blinker==1.7.0
cachelib==0.9.0
cachetools==5.3.3
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clickclick==20.10.2
cligj==0.7.2
cloudpickle==3.0.0
cmdstanpy==1.2.2
colorama==0.4.6
colorlog==4.8.0
colour==0.1.5
comm==0.1.4
ConfigUpdater==3.2
connexion==2.14.2
constantly==23.10.4
contourpy==1.1.1
cron-descriptor==1.4.3
croniter==2.0.3
cryptography==41.0.7
cssselect==1.2.0
cycler==0.12.1
Cython==3.0.8
dash==2.15.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_auth==2.3.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.1.1
dnspython==2.6.1
docutils==0.16
dtreeviz==2.2.2
email_validator==2.1.1
executing==2.0.0
explainerdashboard==0.4.7
fastjsonschema==2.18.1
filelock==3.13.1
findspark==2.0.1
fiona==1.9.5
fire==0.6.0
Flask==2.2.5
Flask-AppBuilder==4.4.1
Flask-Babel==2.0.0
Flask-Caching==2.1.0
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.5.1
Flask-Login==0.6.3
Flask-Session==0.5.0
flask-simplelogin==0.1.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
flower==2.0.1
fonttools==4.43.1
fqdn==1.5.1
frozendict==2.4.0
frozenlist==1.4.1
fsspec==2023.12.2
gast==0.5.4
geographiclib==2.0
geopandas==0.14.1
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
google-re2==1.1
googleapis-common-protos==1.63.0
gplearn==0.4.2
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.62.1
grpcio-status==1.62.1
gunicorn==21.2.0
h11==0.14.0
h5py==3.11.0
holidays==0.47
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.0
humanize==4.9.0
hyperlink==21.0.0
idna==3.6
imageio==2.34.2
imbalanced-learn==0.11.0
importlib-metadata==6.11.0
importlib_resources==6.4.0
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.25.2
ipython==8.16.1
ipywidgets==8.1.3
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.2.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.1.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
jupyterlab_widgets==3.0.11
keras==3.3.3
kiwisolver==1.4.5
kombu==5.3.6
lazy-object-proxy==1.10.0
lazy_loader==0.4
libclang==18.1.1
lime==0.2.0.1
limits==3.10.1
linkify-it-py==2.0.3
llvmlite==0.42.0
lockfile==0.12.2
lxml==5.1.0
Mako==1.3.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.28.2
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
missingno==0.5.2
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.3.2
mlxtend==0.23.1
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.5
namex==0.0.8
Nasdaq-Data-Link==1.0.4
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
notebook==7.0.5
notebook_shim==0.2.3
numba==0.59.1
numpy==1.26.0
oauthlib==3.2.2
opencv-python==4.9.0.80
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opt-einsum==3.3.0
optree==0.11.0
ordered-set==4.1.0
outcome==1.3.0.post0
overrides==7.4.0
oyaml==1.0
packaging==24.0
pandas==2.1.1
pandas-datareader==0.10.0
pandocfilters==1.5.0
parsel==1.9.1
parso==0.8.3
pathspec==0.12.1
patsy==0.5.6
pendulum==3.0.0
pickleshare==0.7.5
pillow==10.2.0
platformdirs==3.11.0
plotly==5.18.0
pluggy==1.4.0
pmdarima==2.0.4
polars==0.20.15
prison==0.2.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
prophet==1.1.5
Protego==0.3.1
protobuf==4.25.3
psutil==5.9.8
psycopg2==2.9.9
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==15.0.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydeck==0.9.1
PyDispatcher==2.0.7
pyEX==0.5.0
Pygments==2.17.2
PyJWT==2.8.0
pyopendota==0.2.9
pyOpenSSL==24.1.0
pyparsing==3.1.1
PyPDF2==3.0.1
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySocks==1.7.1
pyspark==3.5.1
pytest==8.1.1
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-nvd3==0.15.0
python-slugify==8.0.4
pytz==2024.1
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.5.2
QtPy==2.4.1
Quandl==3.7.0
queuelib==1.7.0
referencing==0.31.1
regex==2024.4.28
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==1.4.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
rich-argparse==1.4.0
rpds-py==0.18.0
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.3.1
scipy==1.11.3
Scrapy==2.11.1
seaborn==0.13.0
selenium==4.18.1
Send2Trash==1.8.2
service-identity==24.1.0
setproctitle==1.3.3
setuptools==68.2.2
shap==0.45.0
shapely==2.0.2
six==1.16.0
slicer==0.0.7
smmap==5.0.1
sniffio==1.3.1
snscrape==0.7.0.20230622
socketIO-client-nexus==0.7.6
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==1.4.52
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.4.4
sseclient==0.0.27
stack-data==0.6.3
stanio==0.5.0
statistics==1.0.3.5
statsmodels==0.14.1
streamlit==1.35.0
sweetviz==2.3.1
sympy==1.12
tabulate==0.9.0
tbb==2021.11.0
temporal-cache==0.1.4
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.2.0
tifffile==2024.6.18
time-machine==2.14.1
tinycss2==1.2.1
tldextract==5.1.2
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
torch==2.3.0+cu121
torchaudio==2.3.0+cu121
torchvision==0.18.0+cu121
tornado==6.4
tqdm==4.66.2
traitlets==5.11.2
transformers==4.40.1
trio==0.25.0
trio-websocket==0.11.1
tweepy==4.14.0
Twisted==24.3.0
twisted-iocpsupport==1.0.4
types-python-dateutil==2.8.19.14
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
unicodecsv==0.14.1
universal_pathlib==0.2.2
uri-template==1.3.0
urllib3==1.26.18
vine==5.1.0
w3lib==2.1.2
waitress==3.0.0
watchdog==4.0.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==2.2.3
wheel==0.43.0
widgetsnbextension==4.0.11
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
xgboost==2.0.2
yarl==1.9.4
yellowbrick==1.5
zipp==3.18.1
zope.interface==6.3
